.planetInfo{
	position: absolute;
	top: 20px;
	left: 10px
}
#titlePlanet{
	font-size: 2em;
}
.info{
	display: none;
}
span{
	color: white;
}
table{
	border-color: white;
	color: white;
}